body {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    font-size: 60px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #df649dff;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: #e7ad00ff
    ;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
    margin: 0;
}

.column_main {
    float: left;
    width: 70%;
    padding: 15px;
    height: 840px;
    background-image: url(../grafika/Stomecek1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow: auto
}

.column_side {
    float: right;
    width: 30%;
    padding: 15px;
    text-align: left;
    margin: 0
}

.footer {
    font-size: 12px;
    display: block;
    text-align: center;
    padding: 3px;
    background-color: #df649dff;
    color: white;
    ;
}

.column_main img {
    width: 10%;
    position: absolute;
    margin: 0;
}


/*leva strana*/

.obr1 {
    top: 85%;
    left: 5%
}

.obr2 {
    top: 87%;
    left: 2%
}

.obr3 {
    top: 90%;
    left: 8%
}

.obr4 {
    top: 90%;
    left: 12%
}

.obr5 {
    top: 90%;
    left: 18%
}

.obr6 {
    top: 93%;
    left: 22%
}

.obr7 {
    top: 90%;
    left: 30%
}

.obr8 {
    top: 95%;
    left: 29%
}


/*prava strana*/

.obr9 {
    top: 85%;
    left: 60%
}

.obr10 {
    top: 85%;
    left: 54%
}

.obr11 {
    top: 88%;
    left: 53%
}

.obr12 {
    top: 87%;
    left: 46%
}

.obr13 {
    top: 90%;
    left: 47%
}

.obr14 {
    top: 88%;
    left: 42%
}

.obr15 {
    top: 92%;
    left: 45%
}

.obr16 {
    top: 92%;
    left: 40%
}

.obr17 {
    top: 94%;
    left: 40%
}

.obr18 {
    top: 94%;
    left: 35%;
}

img {
    overflow: auto;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    font-family: "Lucida Console", "Courier New", monospace;
    ;
    padding: 20px;
}

.form {
    font-family: "Lucida Console", "Courier New", monospace;
}